.cap {
  background-color: $white-font;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}
.connect {
  margin-left: auto;
}
.header-navigation {
  display: flex;
}

.nav-items {
  position: relative;

  color: $main-font-color;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  display: flex;
  align-items: center;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.nav:not(:last-child) {
  margin-right: 53px;
}

.nav-connect:not(:last-child) {
  margin-right: 53px;
}

.active {
  color: $brand-color;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    margin-top: 76px;

    background-color: $brand-color;
    border-radius: 2px;

    display: block;
    position: absolute;
  }
}

.mail-tel {
  color: $paragraphs-mail-tel;

  transition: color $transition-duration $timing-function;
  &:hover {
    color: $brand-color;
  }
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
